<?xml version="1.0"?>
<launch>

    <arg name="robot_namespace" default="/"/>
    <arg name="robot_body_type" default="square_body"/> <!-- body_types: square_body; round_body-->

    <param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/robot.urdf.xacro'
	    robot_namespace:=$(arg robot_namespace) robot_body_type:=$(arg robot_body_type)
    " />

</launch>
