<?xml version="1.0"?>
<launch>

    <remap from="cmd_vel" to="aws_robot_velocity_controller/cmd_vel"/>
    <remap from="odom" to="aws_robot_velocity_controller/odom"/>

    <param name="/use_sim_time" value="true"/>
    <!-- Run the map server -->
    <arg name="map_file" default="$(find aws_robomaker_small_house_world)/maps/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" type="str" value="map"/>
    </node>
    <arg name="scan_topic" default="lidar_scan" />

    <!--- Run AMCL -->
    <include file="$(find robot_navigation)/launch/amcl.launch">
        <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>

    <!--- Run Move Base -->
    <include file="$(find robot_navigation)/launch/move_base.launch" />

</launch>
