<?xml version="1.0"?>

<launch>
    <arg name="scan_topic" default="lidar_scan" />

    <!--- Run gmapping -->
    <include file="$(find robot_navigation)/launch/gmapping.launch">
        <arg name="scan_topic" value="$(arg scan_topic)" />
    </include>

    <!--- Run Move Base -->
    <include file="$(find robot_navigation)/launch/move_base.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_description)/rviz/mapping_view.rviz" />

</launch>
